:root {
  font: 16px / 1 sans-serif;

}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: antiquewhite;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  color: #43766C;
}

h2 {
  color: #B19470;
}

h3 {
  color: #76453B;
}

nav {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}